* text eol=lf
*.png binary
*.jar binary
ActionBarSherlock/src/com/actionbarsherlock/app/*.java -text
ActionBarSherlock/src/com/actionbarsherlock/view/*.java -text
ActionBarSherlock/src/com/actionbarsherlock/*.java -text